<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=4.0">
    <link rel="stylesheet" href="../static/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap" rel="stylesheet">
    <title>Luddon</title>
</head>
<body>
    <main>
        <div class="container-padding">
            <div class="container">
                <div class="header-content">
                    <div class="ellipse-group">
                        <div class="ellipse-2"></div>
                        <div class="mask-group">
                            <div class="ellipse-1"></div>
                        </div>
                    </div>
                    <div class="poppins">
                        @instagram
                    </div>
                </div>

                <div class="links-content">
                    <div class="list-links">
                        <button type="button" class="link-1 links poppins2" >LINK 1</button>
                        <button type="button" class="link-2 links poppins2" >LINK 2</button>
                        <button type="button" class="link-3 links poppins2" >LINK 3</button>
                        <button type="button" class="link-4 links poppins2" >LINK 4</button>
                    </div>

                    <div class="group">
                        <img src="../static/svg/twitter.svg" alt="Twitter" class="group-items">
                        <img src="../static/svg/twitch.svg" alt="Twitch" class="group-items">
                        <img src="../static/svg/instagram.svg" alt="Instagram" class="group-items">
                        <img src="../static/svg/linkedin.svg" alt="Linkedin" class="group-items">
                        <img src="../static/svg/github.svg" alt="Github" class="group-items">
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>